.containerr {
    background-image: url(https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1726400/capsule_616x353.jpg?t=1678019934);
    border-radius: 20px;
    background-color: black;
    padding: 100px 60px;
    width: 500px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: 100%;
margin-left: 33%;
}

.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    border: 4px solid #ccc;
    margin-top: 3%;
    display: flex;

}

.button1 {
    margin-top: 50%;
    width: 500px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
    border: none;
    color: white;
    text-decoration: none;
    /* display: inline-block; */
    position: relative;
    overflow: hidden;
}

.button1:hover {
    background-color: #45a049;
}
.button1::after {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #ff5733, #ffc300, #33ff57, #33d9ff, #7133ff, #ff33f4, #33d9ff);
    width: 300%;
    height: 300%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 0;
    border-radius: 50%;
    animation: animate 5s linear infinite;
}
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
@keyframes animate {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        width: 300%;
        height: 300%;
    }

    100% {
        width: 0;
        height: 0;
    }
}

.imtact {
    color: white;
    margin-right: 16%;
}
.containerrr {
    margin-left: 300%;
}
.dohoa {
    color: black;
    text-align: center;
}

